.:15053 {
    forward . 127.0.0.1:15054
    alternate NXDOMAIN,SERVFAIL,REFUSED . /etc/resolv.conf 172.31.0.2:53
    prometheus localhost:19153
    errors
}

.:15055 {
    template ANY ANY . {
      rcode NXDOMAIN
    }
}

.:15056 {
    template ANY ANY . {
      rcode NXDOMAIN
    }
}
